---
---

//------------------------------------------------
// Set some colors as sass variables

$accent-color:rgb(72, 152, 189)
$accent:rgb(72, 152, 189)
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14)
$selectionColor: lighten($accent, 30%)

$textColor: #e5eaee
$headlineColor: #e5eaee
$bgcolor: #e5eaee
$documentBackgroundColor:rgb(29, 29, 29)

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
