:root {
  --bg-color: #32322C;
  --primary-color: #36F1CD;
  --secondary-color: #39A0ED;
  --primary-sh-color: #13C4A3;
  --secondary-sh-color: #4C6085;

  --content-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);

  --linear-bg: linear-gradient(25deg, var(--primary-color), var(--primary-sh-color));
}

body {
  font-family: 'JetBrains Mono', monospace;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--linear-bg);
  overflow: hidden;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--content-box-shadow);
  background-color: var(--bg-color);
  opacity: 0.9;
  margin: 0;
  width: 100%;
}

header {
  width: 100%;
  text-align: center;
  background-color: var(--primary-sh-color);
  color: black;
}

main {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.project {
  background: white;
  padding: 10px 20px;
  aspect-ratio: 1 / 1;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.project a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Two columns for small tablets */
@media (min-width: 480px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .content {
    margin: 2em;
    width: calc(100% - 4em);
  }
}